<p>
	<strong>Пользователь:</strong>
	<%= comment.commenter %>
</P>
<p>
	<strong>Комментарий:</strong>
	<%= comment.body %>
</P>

<p>
	<%= link_to 'Удалить комментарий', [comment.article, comment], method: :delete, data: { confirm: 'Вы уверены?' } %>
</P>
