<%= form_for @article do |f| %>

	<% if @article.errors.any? %>
		<div id = "error_explanation">
			<h2>
				Ошибки:
			</h2>
			<ul>
				<% @article.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<%end%>
	
	<p>
		<%= f.label :title %><br>
		<%= f.text_field :title %>
	</P>
	<p>
		<%= f.label :text %><br>
		<%= f.text_area :text %>
	</P>
	<p>
		<%= f.submit %>
	</P>
<% end %>

<%= link_to 'Назад', articles_path %>
<%= link_to 'На главную', root_path %>